@import "../../components/sass_variables/sass_variables.scss";

.sign-up {
   display: flex;
   flex-direction: column;
   padding: 1vw 4vw 0;

   &-title {
      margin: 4rem 0 0.5rem 0;
      font-size: 1.5rem;
      font-weight: 600;

      @media only screen and (max-width: $bp-small) {
         font-size: 1.25rem;
      }

      @media only screen and (max-width: $bp-mobile) {
         font-size: 1rem;
      }
   }

   &-text {
      font-size: 1.25rem;
      font-weight: 100;
      margin-bottom: 1rem;

      @media only screen and (max-width: $bp-small) {
         font-size: 1rem;
      }

      @media only screen and (max-width: $bp-mobile) {
         font-size: 0.85rem;
      }
   }
}
