.time_left {
   font-size: 1rem;
}

.red-warn {
   font-size: 1rem;
   color: rgb(199, 3, 3);
}

.yellow-warn {
   font-size: 1rem;
   color: rgb(194, 194, 23);
}

.green-warn {
   font-size: 1rem;
   color: green;
}