.group {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;

   .form-input {
      margin-left: .5rem;
      max-width: 15rem;
      background-color: rgba(255, 255, 255, 0.788);
      color: rgb(82, 82, 82);
      font-size: .90rem;
      padding: 10px 15px 10px 10px;
      border: none;
      border-radius: 1rem;

      &:focus {
         outline-style: none;
      }
   }

   .form-label {
      color: white;
      font-size: 1.25rem;
      font-weight: 100;
      pointer-events: none;
      text-transform: uppercase;
   }
}