.group {
   display: grid;
   grid-template-columns: 10rem 20rem;
   justify-content: flex-start;
   grid-gap: 2rem;

   .form-label {
      display: flex;
      justify-content: flex-end;
      align-items:center;
      color: rgb(0, 0, 0);
      font-size: 1.25rem;
      font-weight: 100;
      pointer-events: none;
      //text-transform: uppercase;
   }

   .form-input {
      background-color: rgb(228, 228, 228);
      color: rgb(82, 82, 82);
      font-size: .90rem;
      padding: 10px 15px 10px 10px;
      border: none;
      border-radius: 0.5rem;

      &:focus {
         outline-style: none;
      }
   }

}