@import "../../components//sass_variables/sass_variables.scss";

%group-style {
   display: grid;
   grid-template-columns: 10vw 1fr;
   justify-content: flex-start;
   grid-gap: 2rem;
}

.group {
   @extend %group-style;
   
   @media only screen and (max-width: $bp-large) {
      grid-template-columns: 18vw 1fr;
   }

   @media only screen and (max-width: $bp-small) {
      grid-template-columns: 15vw 1fr;
   }
   
   @media only screen and (max-width: $bp-mobile) {
      grid-template-columns: 20vw 1fr;
   }

   &-edit {
      @extend %group-style;

      grid-template-columns: 8vw 1fr;

      @media only screen and (max-width: $bp-small) {
         grid-gap: 1rem;
         grid-template-columns: 15vw 1fr;
      }

      @media only screen and (max-width: $bp-mobile) {
         grid-gap: 1rem;
         grid-template-columns: 20vw 1fr;
      }
   }
}

%label-style {
   display: flex;
   justify-content: flex-end;
   align-items:center;
   color: rgb(0, 0, 0);
   font-size: 1.10rem;
   font-weight: 100;
   pointer-events: none;
}

.form-label {
   @extend %label-style;

   @media only screen and (max-width: $bp-large) {
      font-size: 1rem;
   }

   @media only screen and (max-width: $bp-small) {
      font-size: 0.85rem;
   }

   &-edit {
      @extend %label-style;

      @media only screen and (max-width: $bp-large) {
         font-size: 0.85rem;
      }
   }
}

%input-style {
   background-color: $form-input-color;
   width: 35vw;
   color: rgb(82, 82, 82);
   font-size: 0.90rem;
   padding: 10px 15px 10px 10px;
   border: none;
   border-radius: 0.5rem;
}

.form-input {
   @extend %input-style;

   &:focus {
      outline-style: none;
   }

   @media only screen and (max-width: $bp-small) {
      font-size: 0.75rem;
      width: 100%;
   }

   &-edit {
      @extend %input-style;

      @media only screen and (max-width: $bp-small) {
         width: 100%;
      }
      
      &:focus {
         outline-style: none;
      }
   }
}