.view {
   padding: 10rem 14rem;
   min-height: 65vh;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
}

.message {
   text-align: center;
   margin-top: 2.5rem;
   font-size: 1.2rem;
}

.deadline_list {
   margin: 2.5rem 5vw;
   border-radius: 2rem;
   border: 1px solid rgb(121, 121, 121);
   box-shadow: 1px 2px 4px rgb(121, 121, 121);
   padding: 2rem 5rem 3rem 3rem;
   position: relative;
   font-weight: 400;
   background-color: rgb(228, 228, 228);
}

.course_title {
   font-size: 1.75rem;
}

.course_deadline {
   font-size: 1.25rem;
   margin-bottom: 1.5rem;
}

.description {
   font-size: 1rem;
   margin-bottom: 1.5rem;
}

.remove_icon {
   position: absolute;
   top: 2.5rem;
   right: 2.25rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.edit_icon {
   position: absolute;
   top: 2.5rem;
   right: 4.5rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.sort-icon {
   position: absolute;
   padding: 0.25rem 0.5rem;
   height: 3rem;
   transition: all .3s;

   &:hover {
      transform: translateY(0.1rem);
      cursor: pointer;
      transform: scale(1.1);
   }
}

.warn-icon {
   height: 3rem;
   position: absolute;
   top: -0.75vh;
   left: 1vw;
   animation: scaleIcon 1s infinite;
}

.icon {
   color: white;
}

@keyframes scaleIcon {
   0% {
      transform: scale(1.0);
   }

   50% {
      transform: scale(1.10);
   }

   100% {
      transform: scale(1.0);
   }
}
