.view {
   padding: 20vh 14vw;
   min-height: 100vh;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.icon-div {
   display: flex;
   justify-content: center;
}

.sort-icon {
   padding: 0.25rem 0.5rem;
   height: 3.25rem;
   transition: all .3s;
   &:hover {
      transform: scale(1.05);
      cursor: pointer;
   }
   &:active {
      transform: translateY(.05rem);
   }
}

.settings-icon {
   padding: 0.25rem 0.5rem;
   height: 3.25rem;
   transition: all .3s;
   &:hover {
      transform: scale(1.05);
      cursor: pointer;
   }

   &:active {
      transform: translateY(.05rem);
   }
}
.message {
   text-align: center;
   margin-top: 2.5rem;
   font-weight: 100;
   font-size: 1.5rem;
   letter-spacing: .05rem;
   margin-bottom: 2.5rem;
}

.deadline_list {
   position: fixed;
   //margin: 2.5rem 10vw;
   border-radius: 2rem;
   //border: 1px solid rgb(121, 121, 121);
   box-shadow: 1px 2px 4px rgb(121, 121, 121);
   padding: 2rem 5rem 3rem 3rem;
   position: relative;
   font-weight: 400;
   background-color: #90d3e09d;
}

.course_title {
   font-size: 1.75rem;
}

.course_deadline {
   font-size: 1.25rem;
   margin-bottom: 1.5rem;
}

.description {
   font-size: 1rem;
   margin-bottom: 1.5rem;
}

.remove_icon {
   position: absolute;
   top: 2.5rem;
   right: 2.25rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.edit_icon {
   position: absolute;
   top: 2.5rem;
   right: 4.5rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.warn-icon {
   height: 2rem;
   position: absolute;
   top: -0.5vh;
   left: 1vw;
   animation: scaleIcon 1s infinite;
}

.icon {
   color: white;
}

.edit-form-overlay {
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   margin-top: -1.55rem;
   left: 0;
   right: 0;
   z-index: 10;
   min-height: 100%;
}

@keyframes scaleIcon {
   0% {
      transform: scale(1.0);
   }

   50% {
      transform: scale(1.20);
   }

   100% {
      transform: scale(1.0);
   }
}
