@import "../../components//sass_variables/sass_variables.scss";

%defaultStyle {
   padding: 20vh 14vw;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.view {   
   @extend %defaultStyle;
   background-color: $background-color-light;
}

.view-dark {
   @extend %defaultStyle;
   background-color: $background-color-dark;
}

.icon-div {
   display: flex;
   justify-content: center;
   padding: 1vw 4vw 0;
}

.search {
   width: 20rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 1vw 0 5vw;
   
   &_input {
      font-size: 1rem;
      color: inherit;
      margin-right: -3rem;
      padding: 0.85rem 1.5rem;
      width: 100%;
      border: none;
      border-radius: 10rem;
      background-color: rgb(238, 238, 238);
      transition: all .4s;

      @media only screen and (max-width: $bp-smallest) {
         font-size: 0.85rem;
      }

      &:focus {
         width: 120%;
         outline: none;
      }

      &::-webkit-input-placeholder {
         font-weight: 100;
         color: rgb(73, 73, 73);
      }
   }

   &_input:focus + &_button:focus {
      outline: none;
   }

   &_button {
      background-color: rgb(238, 238, 238);
      border: none;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      &:active {
         transform: translateY(0.1rem);
      }

      &_img {
         height: 1.5rem;
         width: 1.5rem;
      }
   }

   @media only screen and (max-width: $bp-small) {
      width: 50vw;
   }

   @media only screen and (max-width: $bp-smallest) {
      width: 60vw;
      margin: 0 1vw 0 -2vw;
   }
}

.sort-icon {
   padding: 0.25vw 1vw;
   height: 3.25rem;
   transition: all .3s;

   &:hover {
      transform: scale(1.05);
      cursor: pointer;
   }
   &:active {
      transform: translateY(.05rem);
   }

   @media only screen and (max-width: $bp-smallest) {
      padding-left: 1rem;
   }
}

.settings-icon {
   padding: 0.25vw;
   height: 3.25rem;
   transition: all .3s;
   &:hover {
      transform: scale(1.05);
      cursor: pointer;
   }

   &:active {
      transform: translateY(.05rem);
   }
}

%message-style {
   text-align: center;
   margin-top: 2.5rem;
   font-weight: 100;
   font-size: 1.25rem;
   margin-bottom: 2.5rem;

   @media only screen and (max-width: $bp-large) {
      font-size: 1.15rem;
   }
   @media only screen and (max-width: $bp-smallest) {
      font-size: 1rem;
   }
}

.message-dark {
   @extend %message-style;
   color: $font-color;
}

.message-light {
   @extend %message-style;
   color: black;
}

%style {
   position: fixed;
   border-radius: 2rem;
   box-shadow: 4px 6px 10px rgba(121, 121, 121, 0.63);
   padding: 2rem 5rem 3rem 3rem;
   position: relative;

   @media only screen and (max-width: $bp-smallest) {
      padding: 2rem;
   }
}

.deadline_list {
   @extend %style;
   background-color: #acd6df9d;
}

.deadline_list-dark {
   @extend %style;
   background-color: #b9b9b9;
}

.course_title {
   font-size: 1.5rem;

   @media only screen and (max-width: $bp-small) {
      font-size: 1.35rem;      
   }
}

.course_deadline {
   font-size: 1.15rem;
   margin-bottom: 0.5rem;   

   @media only screen and (max-width: $bp-small) {
      font-size: 1rem;   
   }
}

.description {
   font-size: 1rem;
   margin-bottom: 1rem;
}

.remove_icon {
   position: absolute;
   top: 2.5rem;
   right: 2.25rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.edit_icon {
   position: absolute;
   top: 2.5rem;
   right: 4.5rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.4);
   }
}

.warn-icon {
   height: 2rem;
   position: absolute;
   top: -0.5vh;
   left: 1vw;
   animation: scaleIcon 1s infinite;
}

.icon {
   color: white;
}

.edit-form-overlay {
   padding-top: 20vh;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   margin-top: -20vh;
   left: 0;
   right: 0;
   z-index: 10;
   min-height: 100%;
}

%droppable-style {
   border-radius: 2rem;
   padding: 50px;
   width: 64vw;
   margin-top: 2rem;  

   @media only screen and (max-width: $bp-large) {
      width: 80vw;
      padding: 40px;
   }

   @media only screen and (max-width: $bp-smallest) {
      width: 90vw;
      padding: 10px;
   }
}

.droppable-dark {
   @extend %droppable-style;
   background: #d4d1cb;
}

.droppable-light {
   @extend %droppable-style;
   background: #e9edf5,
}

@keyframes scaleIcon {
   0% {
      transform: scale(1.0);
   }

   50% {
      transform: scale(1.20);
   }

   100% {
      transform: scale(1.0);
   }
}
