.deadline_list {
   margin: 2.5rem 20rem;
   border: 1px solid grey;
   padding: 3rem;
   position: relative;
   font-weight: 400;
}

.course_title {
   font-size: 2.15rem;
}

.course_deadline {
   font-size: 1.5rem;
   margin-bottom: 2rem;
}

.description {
   font-size: 1.25rem;
   margin-bottom: 2rem;
}

.time_left {
   font-size: 1rem;
   
}

.remove_icon {
   position: absolute;
   top: 1.75rem;
   right: 2.25rem;
   transition: all .1s;

   &:hover {
      cursor: pointer;
      transform: scale(1.2);
   }
}