.App {
   background-color: #030205;
   position: fixed;
   width: 100%;
   z-index: 1000;
 }
 
 @media (prefers-reduced-motion: no-preference) {
   .App-header-span-icon {
     animation: App-logo-spin infinite 15s linear;
   }
 }
 
 .App-header {
   padding: 1.25rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;

   &-span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 14vw;

      &-icon {
        height: 5vmin;
        pointer-events: none;
      }
    
      &-title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
      }  
  }

  &-toggle-button {
    width: 1.5rem;
    border-radius: 50%;
    margin: 0 14vw 0 auto;
    border: none;
    transition: all .1s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:focus {
      outline-style: none;
    }

    &:active {
      transform: translateY(0.01rem);
    }
  }
}
 
 .route {
   max-height: 8vh;
   padding-bottom: 1rem;
   display: flex;
   justify-content: space-evenly;
    
   &-name {
     //text-transform: uppercase;
     width: max-content;
     height: 2.5rem;
     transition: all .02s;
     text-decoration: none;
     color: white;    
     background-color: rgba(75, 74, 74, 0.63);
     padding: .45rem 4.5rem 0.45rem 4.5rem;
     font-size: 1rem;
     border-radius: 1rem;
 
     &:hover {
       cursor: pointer;
       transform: scale(1.015);
       background-color: rgb(75, 74, 74);  
     }

     &:active {
        transform: translateY(1.01px);
     }
   }   
 }
 
 
 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
 