@import "../../components/sass_variables/sass_variables.scss" ;

.App {
   background-color: $header-bg-color;
   position: fixed;
   width: 100%;
   z-index: 1000;
   height: 8.5rem;
 }
 
 @media (prefers-reduced-motion: no-preference) {
   .App-header-span-icon {
     animation: App-logo-spin infinite 15s linear;
   }
 }
 
 .App-header {
   padding: 1.25rem 0;
   display: flex;
   align-items: center;
   color: white;

   &-span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7vw;

      &-icon {
        height: 5vmin;
        pointer-events: none;
      }
    
      &-title {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-mobile) {
          font-size: 1.25rem;
         }
      }  

  @media only screen and (max-width: $bp-small) {
    margin-left: 4vw;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-left: 3vw;
  }
  }

  &-toggle-button {
    width: 1.5rem;
    border-radius: 50%;
    margin: 0 14vw 0 auto;
    border: none;
    transition: all .1s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:focus {
      outline-style: none;
    }

    &:active {
      transform: translateY(0.01rem);
    }
  }
}

.App-header-div {
  display: flex;
  margin: 0 8vw 0 auto;

  @media only screen and (max-width: $bp-small) {
    margin-right: 4vw;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-right: 3vw;
  }
}

.App-btn {
  margin-right: 1vw;
  width: 3.35rem;
  height: 1.75rem;
  border-radius: 5rem;
  background-color: rgb(61, 61, 61);

  &-input {
    display: none;
  }
    
  &-label {
    position: relative;
    background-color: $bg-color;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    overflow: hidden;
    cursor: pointer;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 5px;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 50%;
      }

      &:before {
        left: -1.35rem;
        background-color: $bg-color;
        transition: 0.4s ease left, 0.2s ease top;
        z-index: 1;
      }

      &:after {
        left: 0.3rem;
        background-color: white;
        transition: 0.4s ease left;
      }

      #toggle-btn:checked + &:before {
        top: -0.15rem;
        left: 1.2rem;
      }

      #toggle-btn:checked + &:after {
        left: 1.65rem;
      }
    }
    
  @media only screen and (max-width: $bp-small) {
    margin-right: 2vw;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-right: 2vw;
  }
}

.user-section {
  display: flex;
  align-items: center;
  margin-right: 1vw;

  &-photo {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: .25rem;
  }

  &-name {
    font-size: 0.75rem;
  }
}

 .route {
   max-height: 8vh;
   padding-bottom: 1rem;
   display: flex;
   justify-content: space-evenly;
    
   &-name {
     width: max-content;
     height: 2.5rem;
     transition: all .02s;
     text-decoration: none;
     color: white;    
     background-color: rgba(75, 74, 74, 0.63);
     padding: .45rem 5vw 0.45rem 5vw;
     font-size: 1rem;
     border-radius: 1rem;
 
     &:hover {
       cursor: pointer;
       transform: scale(1.015);
       background-color: rgb(75, 74, 74);  
     }

     &:active {
        transform: translateY(1.01px);
     }

     @media only screen and (max-width: $bp-largest) {
      padding: .45rem 4vw .45rem 4vw;
     }

     @media only screen and (max-width: $bp-large) {
      padding: .45rem 3vw .45rem 3vw;
     }
     
     @media only screen and (max-width: $bp-small) {
      font-size: 0.85rem;
      padding: .45rem 1rem .45rem 1rem;
     }

     @media only screen and (max-width: $bp-smallest) {
      font-size: 0.85rem;
      padding: .45rem 1rem .45rem 1rem;
     }
 
     @media only screen and (max-width: $bp-mobile) {
      font-size: 0.75rem;
      height: 2rem;
      padding: .45rem 0.75rem .45rem 0.75rem;
      border-radius: 10rem;
    }
   }   
}
 
 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }
 