@import "../../components/sass_variables/sass_variables.scss";

%default-style {
   padding: 20vh 14vw;
   min-height: 100vh;

   
   @media only screen and (max-width: $bp-large) {
      padding: 8rem 8vw;
   }

   @media only screen and (max-width: $bp-small) {
      padding: 8rem 2vw;
   }

   @media only screen and (max-width: $bp-mobile) {
      padding: 8rem 1vw;
   }
}

.signin {
   @extend %default-style;
   background-color: $background-color-light;
}

.signin-dark {
   @extend %default-style;
   background-color: $background-color-dark;
}

.signin-signup {
   margin-top: 2.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}