%default-style {
   padding: 10rem 14rem;
   min-height: 100vh;
}

.homepage {
   @extend %default-style;
   background-color: #ffffff;
}

.homepage-dark {
   @extend %default-style;
   background-color: #0a0e14;
}

.title {
   font-weight: 400;
   font-size: 1.25rem;
   letter-spacing: .05rem;
   margin-top: 2.5rem;
}

.info {
   font-weight: 100;
   font-size: 1.25rem;
   letter-spacing: .045rem;
}