.homepage {
   padding: 10rem 14rem;
   height: 59.5vh;
   background-color: #282c34a9;
   color: white;
}

.title {
   font-weight: 100;
   font-size: 1.5rem;
   letter-spacing: .05rem;
   margin-bottom: 2.5rem;
}

.info {
   font-weight: 100;
   font-size: 1.25rem;
   letter-spacing: .045rem;
}